<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>SP24 News</title>
</head>

<body>
  <%- include('partials/navbar') %>
    <div class="grid grid-cols-4 gap-2">


      <% news.forEach((article) => { %>


      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img
            src="<%=article.image%>"
            alt="article" /></figure>
        <div class="card-body">
          <h2 class="card-title"><%=article.title%></h2>
          <p><%=article.region%></p>
          <div class="card-actions justify-end">
            <a href="/news/<%=article.newsID%>" class="btn btn-primary">See Details</a>
            <form class="w-full" action="/summarize" method="POST" enctype="application/x-www-form-urlencoded">
              <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="Ask GPT-3!" name="articleQuery" id="articleQuery"/>
            </label>
            <button class="btn btn-success w-full" type="submit">Submit</button>
            </form>
            <p id="response"></p>
          </div>
        </div>
      </div>
      
      <% }) %>

    </div>

</body>

</html>