<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <script src="https://kit.fontawesome.com/efeb3f9255.js" crossorigin="anonymous"></script>
  <title>SP24 News</title>
</head>

<body>
  <%- include('partials/navbar') %>
    <div class="grid grid-cols-3 gap-3">

      <% if (news.length> 0) { %>

        <% news.forEach((article)=> { %>


          <div class="card w-full bg-base-100 shadow-xl">
            <figure><img src="<%=article.image%>" alt="article" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                <%=article.title%>
              </h2>
              <p>
                <%=article.region%>
              </p>
              <div class="card-actions justify-end">

                <a href="/news/<%=article.newsID%>" class="btn btn-primary w-full">
                  <i class="fa-solid fa-circle-info"></i>
                </a>

                <hr/>
                <form class="w-full" action="/summarize" method="POST" enctype="application/x-www-form-urlencoded">
                  <div class="form-control">
                    <label class="label">
                        <span class="label-text">Ask ChatGPT!</span>
                      </label>                    
                      <input type="text" class="input input-bordered" placeholder="Tell me more about..." name="articleQuery" id="articleQuery" />
                      </div>
                  <hr/>

                  <div class="form-control mt-6">
                    <button class="btn btn-secondary">Submit</button>
                  </div>                
                </form>
                <p id="response"></p>
              </div>
              <a href="/news/delete/<%=article.newsID%>" class="btn btn-error w-full">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
            
          </div>

          <% }) %>
            <% } else { %>
              <div class="card w-full bg-base-100 shadow-xl">

              <p>NO DATA FOUND</p>
              </div>
              <% }%>

    </div>

</body>

</html>