<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      /* TODO: "fetch" the data at: https://quotable.io/random and update an element in the DOM with the"content" and "author" */ });
      fetch('https://quotable.io/random')
      .then((response) => response.json())
      .then((json) => {
      console.log(json);
      
      const quote = document.getElementById("quote")
      quote.innerText = `${json.content} - ${json.author}`

    })
  </script>
  <script src="https://kit.fontawesome.com/efeb3f9255.js" crossorigin="anonymous"></script>

  <title>SP24 News</title>
</head>

<body>
  <%- include('partials/navbar') %>
  <div id="quote" role="alert" class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
  </div>
    <div class="grid grid-cols-4 gap-2">


      <% regions.forEach((region)=> { %>


        <div class="card gap-2 bg-base-100 shadow-xl m-4 p-4">
          <figure><img src="<%=region.image%>" alt="article" /></figure>
          <div class="card-body">
            <h2 class="card-title">
              <%=region.name%>
            </h2>

          </div>
          <div class="grid grid-cols-2 gap-1">

            <a href="/regions/<%=region.regionID%>" class="btn btn-secondary w-full">
              <i class="fa-solid fa-circle-info"></i>
            </a>
            <!-- <a href="/regions/<%=region.regionID%>" class="btn btn-secondary w-full">
              <i class="fa-solid fa-pen"></i>
            </a> -->
            <a href="/regions/delete/<%=region.regionID%>" class="btn btn-error w-full">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>

        </div>

        <% }) %>

    </div>

</body>

</html>